<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254782023228-e5hre2h9v2fcp7aqcsacsav4ba14fu57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254782023228-e5hre2h9v2fcp7aqcsacsav4ba14fu57</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>254782023228-pp1rh2npchjn2cminfplopp0ks14c7kl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv_tGIrZzrFrxfhNuDjScp0AmqEbMR8qU</string>
	<key>GCM_SENDER_ID</key>
	<string>254782023228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chronicpainc.app</string>
	<key>PROJECT_ID</key>
	<string>painc-8cb88</string>
	<key>STORAGE_BUCKET</key>
	<string>painc-8cb88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254782023228:ios:d8e894db960558c3538539</string>
	<key>DATABASE_URL</key>
	<string>https://painc-8cb88.firebaseio.com</string>
</dict>
</plist>